//colors

$galactic-blue: #755CDE;
$summer-yellow: #F6A560;
$salmon: #F39E9E;
$light-red: #EB7565;
$cyan: #61C4B7;
$deep-purple: #552049;
$black: #030303;
$medium-brown: #7A746E;
$light-cream: #FFF7F0;
$white: #FFFFFF;

//typography

$heading-l: normal bold 56px/70px 'Plus Jakarta Sans';
$heading-l-tablet: normal bold 44px/55px 'Plus Jakarta Sans';
$heading-l-mobile: normal bold 36px/45px 'Plus Jakarta Sans';
$heading-m:  normal bold 40px/51px 'Plus Jakarta Sans';
$heading-s:  normal bold 32px/40px 'Plus Jakarta Sans';
$heading-xs: normal bold 26px/33px 'Plus Jakarta Sans';
$body:  normal normal 18px/28px 'Plus Jakarta Sans';
$body-mobile: normal normal 16px/26px 'Plus Jakarta Sans';
